body {
    background-color: white;
}

.board {
    diplay: flex;
    flex-direction: column;
}

.tiles {
    display: flex;
    flex-wrap: nowrap;
}

.barcodeInput {
    font-size: 6em;
    border-style: none;
    /*text-transform: uppercase;*/
    width: 6em;
}
